# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Ssinless.SeaBattle.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\polcr\source\repos\Pasha\Ssinless.SeaBattle\.idea\.idea.Ssinless.SeaBattle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
